<div class="otros-image d-block w-100"> </div>


<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Otros tratamientos.</h2>
<!-- Section description -->
<div class="text-center w-responsive mx-auto mb-5 grey-text w-50">
  <ul class="list-group list-group-flush  col text-center">
    <li class="list-group-item">Ortopedia.</li>
    <li class="list-group-item">Periodoncia.</li>
    <li class="list-group-item">Prótesis fijas.</li>
    <li class="list-group-item">Prótesis removibles.</li>
    <li class="list-group-item">Endodoncia rotaroria.</li>
    <li class="list-group-item">Odontología conservadora.</li>
    <li class="list-group-item">Odontología holística.</li>
    <li class="list-group-item">Sedación óxido nitroso.</li>
    <li class="list-group-item">Trtatamiento de ronquidos.</li>
    <li class="list-group-item">Alimentación, higiene, halitosis.</li>
  </ul>
  </div>

<p class="text-center w-responsive mx-auto mb-5 grey-text">
  <button class="mb-3 mt-3 btn aqua-gradient font-weight-bold btn-rounded">¡Pide tu cita!</button>
</p>
