<!--Navbar-->
<mdb-navbar id="navbar-size" SideClass="navbar navbar-expand-lg navbar-dark info-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="/citas/crear" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="calendar"></mdb-icon> Pide tu cita</a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="align-justify"></mdb-icon> Tratamientos<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="/tratamiento/ortodoncia">Ortodoncia</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/tratamiento/estetica-dental">Estética dental</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/tratamiento/medicina-bucal">Medicina bucal</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/tratamiento/odontopediatria">Odontopediatría</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/tratamiento/otros">Otros tratamientos</a>
        </div>
      </li>

      <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <div class="guestZone" *ngIf="!getUser()">
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon>Inicia sesión<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="/register">Registro</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="/login">Entra</a>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <div class="userZone" *ngIf="getUser() as user">
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon>{{user.name || user.email}}<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="/profile">Tu perfil</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Salir</a>
          </div>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->



