.header1 {
  height: 200px !important;
}

.image-logo {
  color: white
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.telefono-header {
  margin-left: 20em;
  margin-top: 10px;
}

