<div class="medicinabucal-image d-block w-100"> </div>


<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Medicina bucal.</h2>
<!-- Section description -->
<p class="text-center w-responsive mx-auto mb-5 grey-text">Es común que el paciente asocie el consultorio dental a la
  atención de enfermedades relacionadas sólo con los dientes y muchas veces desconoce que la boca se encuentra formada
  por diversas estructuras, todas susceptibles de sufrir alteraciones. La Medicina Bucal se encarga del diagnóstico
  clínico y tratamiento de todas las enfermedades de la boca. En ocasiones, será necesario tomar una muestra del tejido
  alterado, biopsia, y realizar un estudio microscópico para establecer un diagnóstico definitivo, tarea de la patología
  bucal.</p>

<p class="text-center w-responsive mx-auto mb-5 grey-text">  La medicina bucal es la especialidad que se encarga del diagnóstico de todas las enfermedades que afectan a la boca y
  la región maxilofacial, así como del tratamiento de las alteraciones que no requieren solución quirúrgica, ortopédica
  o protésica. los tratamientos son fundamentalmente farmacológicos. La medicina bucal también estudia las
  manifestaciones bucales de las enfermedades que comprometen el estado general del paciente para aplicar el tratamiento
  odontológico correcto.</p>

<p class="text-center w-responsive mx-auto mb-5 grey-text">
  <button class="mb-3 mt-3 btn aqua-gradient font-weight-bold btn-rounded">¡Pide tu cita!</button>
</p>
