<!-- Footer -->
<footer class="page-footer font-small info-color pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Dentalvel</h5>
        <p>Dentista especializado en implantes dentales avanzados y casos complejos con atrofia maxilar, incluso los
          casos complejos descartados por otros dentistas.</p>
          <p>Clínica Dental Dentalvel, desde 1997 a tu lado, con certificado del Sistema de Calidad, conforme a la norma ISO
          9001 y UNE, que concede AENOR (Asociación Española de Normalización y Certificación), cuidando tu salud bucal
          y la de tu familia.</p>
          <p>Llámanos y concierta tu primera visita gratis, con revisión completa, radiografía, diagnóstico y plan de
          tratamiento.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Enlaces de interés</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/citas/crear">Pedir cita</a>
          </li>
          <li>
            <a href="/citas/lista">Ver citas</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->



        <iframe class="google-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.9742257868793!2d-0.3886120847470051!3d39.46991097948643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f467ebfad29%3A0xb5a303a051f983d3!2sDentista%20Valencia%20y%20Cl%C3%ADnica%20dental%20en%20Valencia%20De%20Vicente!5e0!3m2!1ses!2ses!4v1596312284216!5m2!1ses!2ses"
          width="380" height="280" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/danieltocado/"> Daniel Tocado </a> <a class="git-ic mr-3" role="button"><i
        class="fab fa-lg fa-github"></i></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
