<div class="esteticadental-image d-block w-100"> </div>

<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Estética dental.</h2>
<!-- Section description -->
<p class="text-center w-responsive mx-auto mb-5 grey-text">Especialistas en estética dental. Diseñamos sonrisas.

  Nuestra Clínica dental es especialista en:

</p>

<div class="text-center w-responsive mx-auto mb-5 grey-text w-50">
<ul class="list-group list-group-flush  col text-center">
  <li class="list-group-item">Lumineers</li>
  <li class="list-group-item">Carillas de porcelana</li>
  <li class="list-group-item">Eliminacion de empastes</li>
  <li class="list-group-item">Sonrisas de Hollywood</li>
  <li class="list-group-item">Coronas de porcelana</li>
  <li class="list-group-item">Zirconio</li>
  <li class="list-group-item">Snap-on smile</li>
  <li class="list-group-item">Blanqueamiento dental</li>
  <li class="list-group-item">Rejuvenecimiento dental</li>
</ul>
</div>


<p class="text-center w-responsive mx-auto mb-5 grey-text">
  <button class="mb-3 mt-3 btn aqua-gradient font-weight-bold btn-rounded">¡Pide tu cita!</button>
</p>
