<mdb-card>
  <mdb-card-body>
    <!-- Material form register -->
    <form id="form_appointment"  class="appointmentForm" #appointmentForm="ngForm" (submit)="create(appointmentForm)" >
      <p class="h4 text-center py-4">Pide tu cita</p>

      <!-- Material input date -->
      <div class="md-form">
        <mdb-icon fas icon="calendar" class="prefix grey-text"></mdb-icon>



        <input id="appointment_date" matInput name="appointment_date" ngModel class="font-weight-light" type="datetime-local" placeholder="start date">

      </div>

      <!-- Material input select -->
      <div class="md-form">
        <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>

        <select id="select-appointment" name="appointment_type" ngModel class="browser-default custom-select font-weight-light" placeholder="Selecciona el tipo de cita">

          <option value="ortodoncia">Ortodoncia</option>
          <option value="estetica_dental">Estética dental</option>
          <option value="medicina_bucal">Medicina bucal</option>
          <option value="odontopediatria">Odontopediatría</option>
          <option value="otros">Otros tratamientos.</option>
        </select>
      </div>


      <div class="text-center py-4 mt-3">
        <button mdbBtn color="cyan" class="waves-light" type="submit" mdbWavesEffect>Pedir cita</button>
      </div>
    </form>
    <!-- Material form register -->
  </mdb-card-body>
</mdb-card>
