<div class="ortodoncia-image d-block w-100"> </div>


<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Ortodoncia.</h2>
<!-- Section description -->
<p class="text-center w-responsive mx-auto mb-5 grey-text">La ortodoncia es una técnica cuya finalidad consiste en
  desplazar controladamente los dientes y/o los huesos
  maxilares a unas posiciones determinadas con el fin de corregir una mala relación entre la arcada dentaria inferior
  con la superior y / o un alineamiento anómalo de los dientes.

  Consigue una bonita sonrisa con los especialistas de la Clínica Dentalvel.

  Tener una bonita sonrisa está a tu alcance, pregúntanos por las facilidades de pago. Trabajamos con muchos seguros y
  mutuas, infórmate y ¡consigue por fin la sonrisa que quieres y mereces!</p>

<p class="text-center w-responsive mx-auto mb-5 grey-text">
  <button class="mb-3 mt-3 btn aqua-gradient font-weight-bold btn-rounded">¡Pide tu cita!</button>
</p>


