.odontopediatria-image {
  background-image: url(../../../assets/img/odontopediatría.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}
