<div class="odontopediatria-image d-block w-100"> </div>


<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Odontopediatría.</h2>
<!-- Section description -->
<p class="text-center w-responsive mx-auto mb-5 grey-text">En Clínica Dentalvel somos conscientes de la importancia de
  cuidar la salud bucal de los más pequeños de la casa, y por ello somos expertos en odontopediatria en Valencia. La
  Odontopediatria es aquella parte la odontología que se encarga del cuidado, mantenimiento y prevención de la salud
  dental del niño desde su infancia hasta su adolescencia.</p>

<p class="text-center w-responsive mx-auto mb-5 grey-text">Cualquier alteración en dientes temporales que no sea
  tratada, puede influir posteriormente en las piezas permanentes.
</p>

<p class="text-center w-responsive mx-auto mb-5 grey-text"><img src="../../../assets/img/odontopediatria2.png" alt="">
</p>

<div class="text-center w-responsive mx-auto mb-5 grey-text w-50">
  <ul class="list-group list-group-flush  col text-center">
    <li class="list-group-item">Higiene dental</li>
    <li class="list-group-item">Prevención de caries</li>
    <li class="list-group-item">Tratamiento de las caries</li>
    <li class="list-group-item">Tratamiento pulpar</li>
    <li class="list-group-item">Mantenedores de espacio</li>
    <li class="list-group-item">Estudio de anomalías dentarias</li>
  </ul>
  </div>

<p class="text-center w-responsive mx-auto mb-5 grey-text">Los tratamientos preventivos no son molestos. Sin embargo,
  existen otros en los que podría ser necesario el uso de anestesia, y para ello contamos con especialistas en
  odontopediatria que conocen las técnicas adecuadas para que estos sean indoloros (infórmate en nuestra Clínica sobre
  el Óxido Nitroso)
</p>

<p class="text-center w-responsive mx-auto mb-5 grey-text">
  <button class="mb-3 mt-3 btn aqua-gradient font-weight-bold btn-rounded">¡Pide tu cita!</button>
</p>
