<div class="appointments-image d-block w-100"> </div>

<h2 class="h1-responsive font-weight-bold text-center my-5">Citas pendientes.</h2>

<div class="container-citas">
  <div class="tabla-citas">

    <div class="table-responsive">
      <table cellspacing="0" cellpadding="0" class="table" id="table-bootstrap">
        <thead class="info-color white-text text-center">
          <tr>
            <th scope="col">Nombre y apellidos</th>
            <th scope="col">Fecha y hora</th>
            <th scope="col">Tipo de cita</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of ShowAppointments" class="text-center w-responsive mx-auto mb-5 grey-text">
            <td>{{appointment.user.name}} {{appointment.user.surname}}</td>
            <td>{{appointment.appointment_date}}</td>
            <td style="text-transform: capitalize;">{{appointment.appointment_type}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
