
<mdb-carousel [isControls]="false" [animation]="'slide'">
  <mdb-carousel-item>
    <div class="bghomeimage d-block w-100"> <a href="/citas/crear"><app-card-cita></app-card-cita></a>  </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="bghomeimage2 d-block w-100"> <a href="/citas/crear"><app-card-cita></app-card-cita></a> </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="bghomeimage3 d-block w-100"> <a href="/citas/crear"><app-card-cita></app-card-cita></a> </div>
  </mdb-carousel-item>
</mdb-carousel>


