.bghomeimage {
  background-image: url(../../../assets/img/slider1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 40em;
}

.bghomeimage2 {
  background-image: url(../../../assets/img/slider2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 40em;
}

.bghomeimage3 {
  background-image: url(../../../assets/img/slider3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 40em;
}





